<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462260908466-99adpkm8gccqk4pk1a2fe4ek9ananftu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462260908466-99adpkm8gccqk4pk1a2fe4ek9ananftu</string>
	<key>API_KEY</key>
	<string>AIzaSyDGl-cv-VjpHDMgeYZYCBNaTO7jy71V8RM</string>
	<key>GCM_SENDER_ID</key>
	<string>462260908466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.electronicHealthApp</string>
	<key>PROJECT_ID</key>
	<string>electronichealthapp</string>
	<key>STORAGE_BUCKET</key>
	<string>electronichealthapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462260908466:ios:261415e3a88647264034ab</string>
</dict>
</plist>